@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body,
html {
    font-family: '微軟正黑體';
    position: relative;
}

/* for color */
.c-blue {
    color: #29ABE2;
}

.btn:focus {
    outline: none;
    -webkit-box-shadow: unset;
            box-shadow: unset;
}

.btn:hover {
    -webkit-filter: brightness(.9);
            filter: brightness(.9);
}

#newsBs {
    min-height: 100%;
}

main {
    padding-top: 130px;
}

.logo {
    width: 100px;
    height: auto;
}

.logoTitle {
    font-size: 30px;
    color: #FFF;
}

.navbar {
    height: 80px;
    background-color: #dec09e;
}

.navbar-brand {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
}

.navbar .nav-link {
    height: 80px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFF !important;
    position: relative;
    font-size: 22px;
}

.nav-link:hover {
    color: yellow !important;
}

.Slash {
    padding-left: 15px;
    -webkit-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;
}

.Slash:hover {
    color: #FFF !important;
}

/* 最新消息 */
.btn-brown {
    background-color: #dec09e;
    padding: 3px 40px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;
}

.imgBox {
    width: 100%;
    display: block;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

.cutBox {
    width: 100%;
    display: block;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    height: 500px;
}

.addIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #5c5c5c;
    cursor: pointer;
}

.btn-edit {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #E3E3E3), color-stop(60%, #B0B0B0)) !important;
    background: linear-gradient(0deg, #E3E3E3 35%, #B0B0B0 60%) !important;
    color: #333;
    border: 0;
    padding: 5px 10px;
}

.btn-delete {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #F09595), color-stop(60%, #E35252)) !important;
    background: linear-gradient(0deg, #F09595 35%, #E35252 60%) !important;
    color: #FFF;
    border: 0;
    padding: 5px 10px;
}

#newsBs .btn-dark {
    width: 65%;
    font-size: 20px;
}

.newsBox {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 20px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}

.newsImg {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.delIcon {
    margin-left: auto;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    background-color: white;
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

.delIcon:focus{
    outline: none;
}

.fa-trash-alt {
    font-size: 20px;
    text-align: right;
    margin-bottom: 1rem;
    cursor: pointer;
}

.newsBox small {
    color: #F7931E;
    margin-bottom: 1rem;
}

.newsBox .btn-warning {
    font-size: 20px;
    width: 50%;
    margin: auto auto 0;
}

.span-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    max-height: 100px;
}

/* 訪客來信 */
.table td,
.table th {
    vertical-align: middle;
    word-break: break-all;
}

.table thead tr th:nth-Child(1) {
    width: 10%;
}

.table tbody tr td:nth-Child(3) {
    color: #29ABE2;
    font-weight: bold;
}

td .btn {
    padding: 0px 15px;
    font-size: 20px;
}

.fa-trash-alt {
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 0;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    padding-left: 10px;
}

.modal-body {
    font-size: 20px;
    word-break: break-all;
    text-align: justify;
}


@media screen and (min-width: 1px) and (max-width: 1199.98px) {
    .container {
        max-width: 100%;
    }

    main {
        padding-top: 100px;
    }

    .navbar {
        height: auto;
    }

    .Slash {
        display: none !important;
    }

    .logo {
        width: 50px;
    }

    .navbar-brand {
        -webkit-transform: translate(0);
                transform: translate(0);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .logoTitle {
        font-size: 26px;
        padding-left: 10px;
    }

    .navbar .nav-link {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}

@media screen and (min-width: 1px) and (max-width: 991.98px) {

    /* 訪客來信 */
    .table {
        border: 0 !important;
    }

    thead {
        display: none;
    }

    tbody tr {
        border: 1px solid #ddd;
    }

    .table thead tr th:nth-Child(1) {
        width: auto;
    }

    tbody td,
    tbody th,
    tbody tr {
        display: block;
    }

    tbody tr {
        margin-bottom: 30px;
    }

    .table td {
        padding-left: 80px;
        text-align: right;
        position: relative;
    }

    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
    }

    .table th {
        text-align: left;
    }
}


@media (max-width: 575.98px) {

    .btn-brown {
        padding: 3px 35px;
    }

}