@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body,
html {
    font-family: 微軟正黑體;
    position: relative;
}

.fa-bars {
    color: #FFF;
    font-size: 28px;
}

#menu {
    background-color: #0a1492;
}

#menu ul {
    font-size: 18px;
    text-align: center;
}

#menu ul li {
    line-height: 2.5;
}

#menu ul>li {
    border-bottom: 1px solid #ddd;
}

#menu ul li a {
    display: block;
    width: 100%;
    color: #FFF;
}

.fa-bars{
    display: none;
}

main {
    min-height: 100%;
    overflow: hidden;
}

.container-fluid {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* for color */
.c-brown {
    color: #998675;
}

.c-blue {
    color: #19248A;
}

.c-purple {
    color: #2F37A2;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar {
    height: 150px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: transparent;
}

.navbar .nav-link {
    height: 150px;
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFF !important;
    position: relative;
}

.nav-link:hover .line {
    display: block;
}

.line {
    height: 3px;
    width: 85%;
    background-color: #FFF;
    display: none;
    position: absolute;
    bottom: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

a.active>.line {
    display: block;
}

h2 {
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 50px;
}

h4 {
    letter-spacing: 3px;
}

main>section {
    background-position: center;
    background-size: cover;
}

.container {
    padding: 0;
}

#home {
    background-image: url('/images/OnePage/section1.jpg');
    padding-top: 0;
    padding-bottom: 0;
    color: #FFF;
    width: 100%;
    min-height: 100vh;
}

#home .title {
    font-family: 'cwTeXYen';
    font-size: 84px;
    width: 100%;
    top: 45%;
    line-height: 1.2;
    font-weight: normal;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}


footer {
    background: #eee;
    position: -webkit-sticky;
    position: sticky;
    top: 100%;
}

@media (max-width: 575.98px) {

    #home .title {
        font-size: 38px;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    h2 {
        font-size: 30px;
        margin-bottom: 1.5rem;
    }

    .h2 {
        font-size: 24px;
    }

    .h4 {
        font-size: 1.3rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {

    .serviceText {
        margin: 0;
    }

    #serviceContent hr {
        margin: 25px 0;
        width: 100%;
    }

    .cloud-B1,
    .cloud-B2 {
        width: 150px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
    #home .title {
        font-size: 70px;
    }

    .h2 {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1px) and (max-width: 1199.98px) {

    .container-fluid {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .container {
        max-width: 100%;
    }

    .fa-bars{
        display: block;
    }

    #home{
        height: 100%;
    }

}