@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body,
html {
  font-family: '微軟正黑體';
  position: relative;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 60px;
}

/* for color */
.c-brown {
  color: #998675;
}

.c-blue {
  color: #19248A;
}

.c-purple {
  color: #2F37A2;
}

.logo {
  width: 140px;
  height: auto;
}

.logoTitle {
  font-size: 16px;
  color: #FFF;
  display: none;
}

.navbar {
  height: 140px;
  transition: 0.5s;
}

.navbar-brand {
  transform: translateY(10px);
}

.navbar .nav-link {
  height: 140px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF !important;
  position: relative;
}

.nav-link:hover .line {
  display: block;
}

.line {
  height: 3px;
  width: 85%;
  background-color: #FFF;
  display: none;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
}

a.active>.line {
  display: block;
}

h2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 50px;
}

h4 {
  letter-spacing: 3px;
}

main>section {
  background-position: center;
  background-size: cover;
}

.container {
  padding: 0;
}

#home {
  background-image: url('/images/OnePage/section1.jpg');
  padding-top: 0;
  padding-bottom: 0;
  color: #FFF;
}

#home .title {
  font-family: 'cwTeXYen';
  font-size: 84px;
  width: 100%;
  top: 50%;
  transform: translateY(-20%);
  line-height: 1.2;
  font-weight: normal;
  letter-spacing: 5px;
}

.downIcon {
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 50px;
  cursor: pointer;
  color: #FFF;
  animation: down 3s infinite;
}

@keyframes down {
  0% {
    bottom: 10%;
    opacity: 1;
  }

  100% {
    bottom: 3%;
    opacity: 0;
  }
}

#about {
  background-image: url('/images/OnePage/section2.jpg');
  background-position: center bottom;
  background-attachment: fixed;
}

#about p {
  margin: 0 auto;
  font-weight: bold;
  letter-spacing: 2px;
  width: 53%;
}

#about img {
  width: 100%;
  max-width: 350px;
}

#serviceItems,
#news {
  background-color: #FFFFEF;
}

#serviceItems .items {
  letter-spacing: 7px;
}

#serviceItems .items div {
  font-weight: normal;
  color: #998675;
}

.circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}

.cImg01 {
  background-image: url('/images/OnePage/01.jpg');
  background-size: 150%;
  background-position: 0 -20px;
}

.cImg02 {
  background-image: url('/images/OnePage/02.jpg');
  background-size: cover;
  background-position: center;
}

.cImg03 {
  background-image: url('/images/OnePage/03.jpg');
  background-size: cover;
  background-position: center;
}

.cloud-B1,
.cloud-B2 {
  width: 200px;
}

.cloud-B1 {
  left: 2%;
  bottom: 3%;
}

.cloud-B2 {
  right: 2%;
  top: 5%;
}

.cloud {
  width: 30%;
  transform: translateX(-25px);
}

.cloud:before {
  content: attr(data-text);
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  display: block;
  z-index: 1;
  font-size: 34px;
}

.cloud-W {
  width: 100%;
  position: relative;
}

.serviceText {
  width: 70%;
  padding: 0 10px;
  margin: 30px 0 0;
  font-weight: normal;
  line-height: 1.5;
  color: #FFF;
  text-align: justify;
}

#serviceContent {
  background-image: url('/images/OnePage/bgi-01.jpg');
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

#serviceContent:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 169, 157, .6);
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

#serviceContent hr {
  width: 90%;
  transform: translateY(25px);
  border: 1px dashed #FFF;
}

#news img {
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
  height: 150px;
  object-fit: cover;
}

#news small {
  margin-bottom: 1rem;
  color: #F7931E;
}

#contactInfo {
  background-image: url('/images/OnePage/bgi-02.jpg');
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#contactInfo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #DDC09D;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7;
}

#contactInfo img {
  width: 100%;
  max-height: 250px;
  margin-bottom: 1rem;
}

#contactInfo span {
  margin-bottom: .5rem;
}

#contactInfo .Icon {
  width: 30px;
  height: 30px;
}

#contactInfo .ig {
  transform: translateX(10px);
}

#map {
  background-image: url('/images/OnePage/bgi-02.jpg');
  background-attachment: fixed;
}

iframe {
  width: 100%;
  height: 350px;
  max-height: 350px;
}

#map .form-control {
  border-radius: 0;
  margin-bottom: 1rem;
}

#map textarea {
  resize: none;
  /* height: 147px; */
}

footer {
  padding-bottom: 40px;
  background: #eee;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ddd;
  text-align: center;
  height: 40px;
}

.footerItems {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333
}

.footer a:hover {
  text-decoration: none;
}

@media (max-width: 575.98px) {

  #home .title {
    font-size: 38px;
    transform: translateY(0);
  }

  .logo {
    width: 100px;
  }

  #about img {
    max-height: 300px;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 1.5rem;
  }

  .h2 {
    font-size: 24px;
  }

  .h4 {
    font-size: 1.3rem;
  }

  .circle {
    margin: 0 0 0 auto;
  }

  #serviceItems .items {
    letter-spacing: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #serviceItems .items>div {
    padding-left: 5px;
    padding-right: 5px;
  }

  .cloud-B1,
  .cloud-B2 {
    width: 25%;
  }

  .cloud:before {
    bottom: 5%;
  }

  .cloud {
    width: 60%;
  }

  .serviceText {
    width: 100%;
  }

  #serviceContent hr {
    display: none;
  }

  #news img {
    height: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {

  .serviceText {
    margin: 0;
  }

  #serviceContent hr {
    margin: 25px 0;
    width: 100%;
  }

  .cloud-B1,
  .cloud-B2 {
    width: 150px;
  }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #home .title {
    font-size: 70px;
  }

  .h2 {
    font-size: 1.8rem;
  }

  .cloud {
    width: 40%;
  }

  .serviceText {
    width: 60%;
  }

  .cloud-B1,
  .cloud-B2 {
    width: 150px;
  }
}

@media screen and (min-width: 1px) and (max-width: 1199.98px) {

  .container-fluid {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 100%;
  }

  .circle {
    width: 180px;
    height: 180px;
  }

  .cloud {
    transform: translateX(0);
  }

  #about p {
    width: 100%;
  }

  #serviceContent hr {
    width: 100%;
    transform: translateY(0);
  }

  #contactInfo span {
    margin-bottom: 1rem;
  }

  #serviceContent:before {
    background-color: rgba(0, 169, 157, .5);
  }

  #contactInfo:before {
    opacity: .6;
  }

}
