@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body,
html {
  font-family: '微軟正黑體';
  position: relative;
  height: 100%;
}

.fa-bars {
  color: #FFF;
  font-size: 28px;
  display: none !important;
}

#menu {
  background-color: #0a1492;
}

#menu ul {
  font-size: 18px;
  text-align: center;
}

#menu ul li {
  line-height: 2.5;
}

#menu ul>li {
  border-bottom: 1px solid #ddd;
}

#menu ul li a {
  display: block;
  width: 100%;
  color: #FFF;
}


.d-centerCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.d-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#news.container-fluid,
#news-detail.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

#about.container-fluid {
  padding-top: 40px;
  padding-bottom: 60px;
}

main {
  padding-top: 80px;
  overflow: hidden;
}

/* for color */
.c-brown {
  color: #998675;
}

.c-blue {
  color: #19248A;
}

.c-lightBlue {
  color: #3FA9F5;
}

.c-purple {
  color: #2F37A2;
}

.logo {
  width: 70px;
  height: auto;
}

.logoTitle {
  font-size: 16px;
  color: #FFF;
}

.navbar {
  height: 80px;
  background-color: #0a1492;
}

.navbar .nav-link {
  height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF !important;
  position: relative;
}

.nav-link:hover .line {
  display: block;
}

.line {
  height: 3px;
  width: 85%;
  background-color: #FFF;
  display: none;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

a.active>.line {
  display: block;
}

h2 {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 50px;
}

h4 {
  letter-spacing: 3px;
}

main>section {
  background-position: center;
  background-size: cover;
}

/* 關於我們 */
#about {
  background-image: url('/images/OnePage/section02.png');
  background-attachment: fixed;
}

#about h2 {
  font-weight: normal;
  font-size: 46px;
}

#about h3 {
  font-size: 32px;
  letter-spacing: 10px;
  color: #4D4D4D;
}

#about h2,
#about h3 {
  font-family: 'cwtexyen';
}

.aboutText {
  max-width: 28%;
  margin: 0 auto;
  line-height: 2;
}

.videoBox {
  background-color: #191919;
}

.video {
  max-width: 1000px;
}

.video:focus {
  outline: none;
}

.aboutBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#about img {
  width: 100%;
  max-width: 450px;
}

#aboutContent {
  overflow: hidden;
  padding: 25px 100px 80px 100px;
  background-color: #FFFFEF;
  z-index: 1;
}

.aboutBgi {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('/images/OnePage/aboutBgi.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-attachment: fixed;
}

.semicircle {
  width: 600px;
  height: 300px;
  border-radius: 0 0 300px 300px;
  background-color: #3FA9F5;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: -160px;
  -webkit-box-shadow: 5px 5px 5px #8C8C8C;
  box-shadow: 5px 5px 5px #8C8C8C;
}

.semicircle:before {
  content: '文旅特色';
  font-family: 'cwtexyen';
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 50px;
  letter-spacing: 3px;
  color: #FFF;
}

.outsideCircle {
  position: absolute;
  width: 67%;
  height: 34%;
  display: block;
  background-color: #FFFFEF;
  border-radius: 50%;
  top: -6%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  width: 70%;
  height: 45%;
  display: block;
  background-color: #98d1f2;
  border-radius: 50%;
  top: -13%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 5px 2px 8px #a5a5a5;
  box-shadow: 5px 2px 8px #a5a5a5;
}

.innerCircle {
  position: absolute;
  width: 55%;
  height: 40%;
  display: block;
  background-color: #3FA9F5;
  border-radius: 50%;
  top: -13%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 5px 0px 8px #777;
  box-shadow: 5px 0px 8px #777;
}

.innerCircle:before {
  content: '文旅特色';
  font-family: 'cwtexyen';
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 50px;
  letter-spacing: 3px;
  color: #FFF;
}

.bg-blue {
  background-color: rgba(63, 169, 245, .3);
  padding: 25% 100px 0 100px;
  -webkit-box-shadow: 5px 5px 8px #a5a5a5;
  box-shadow: 5px 5px 8px #a5a5a5;
}

.itemsBorder {
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #1D298E;
  -webkit-animation: height 5s;
  animation: height 5s;
}

.swiper-container,
.aboutImg {
  width: 350px;
  height: 100%;
  border-radius: 20px;
}

@-webkit-keyframes height {
  0% {
    height: 1%;
  }

  100% {
    height: 100%;
  }
}

@keyframes height {
  0% {
    height: 1%;
  }

  100% {
    height: 100%;
  }
}

.aboutTitle,
.aboutItems {
  margin-left: 30px;
}

.imgR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}



.aboutTitle {
  font-size: 50px;
  font-family: 'cwtexyen';
  color: #4D4D4D;
  letter-spacing: 20px;
  -webkit-animation: fadeInDown;
  animation: fadeInDown;
}

.aboutItems {
  letter-spacing: 2px;
  font-size: 18px;
  color: #1D298E;
  text-align: justify;
  list-style: none;
  padding: 0;
  /* max-width: 300px; */
  -webkit-animation: fadeInDown;
  animation: fadeInDown;
}

.greenland {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  margin-top: 30px;
  height: 300px;
  z-index: -1;
}

/* 服務項目 */
#service {
  background-color: #FFFFEF;
}

#service .semicircle:before {
  content: '服務項目';
}

#service.container {
  overflow: hidden;
  padding-top: 180px;
  padding-bottom: 30px;
}

.serviceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* -webkit-box-shadow: 5px 5px 5px 0px rgba(137, 137, 137, 0.2);
  box-shadow: 5px 5px 5px 0px rgba(137, 137, 137, 0.2); */
  border-radius: 10px;
  padding: 20px 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.serviceBox:hover {
  background-color: rgba(63, 169, 245, .3);
}

.serviceBox h2 {
  margin-bottom: 1rem;
  font-weight: 300;
  color: #4D4D4D;
}

.serviceIcon {
  width: 100px;
  margin-bottom: 30px;
}

.serviceIcon-sm {
  width: 35px;
  height: 35px;
}

#service ul {
  list-style: none;
  padding: 0;
  width: 80%;
}

#service li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 2.5;
  border-bottom: 1px dashed;
  padding: 0 15px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.pet {
  line-height: 2 !important;
}

#service li:last-child {
  border: 0;
}

.itemsH1 {
  font-size: 40px;
  font-family: 'cwtexyen';
  font-weight: 100;
  letter-spacing: 2px;
}

.itemsBox {
  padding: 20px 30px;
  border: 1.5px dashed #C7B299;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemsBox>div {
  margin-top: auto;
}

.itemsBox span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 36px;
  color: #FFF;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(63, 169, 245, .8);
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;

}

.itemsBox:hover:before,
.itemsBox:hover span {
  display: none;
}

.itemsTitle {
  font-size: 24px;
  color: #709EF5;
  margin-bottom: 5px;
}

.itemsText {
  color: #4D4D4D;
  font-size: 18px;
  text-align: justify;
  min-height: 80px;
  margin-bottom: 20px;
}

.itemsImg {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  max-height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.cloudText {
  color: #4D4D4D;
  font-size: 24px;
  text-align: justify;
}

#service hr {
  width: 100%;
  border-style: dashed;
  border-color: #C7B299;
  margin: 1.5rem 0;
}

.catImg {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 100%;
  max-height: 130px;
  z-index: 99;
}

/* 最新消息 */
#news img {
  width: 100%;
  margin-bottom: 1rem;
}

#news a:hover {
  color: red;
}

#news small,
#news-detail small {
  margin-bottom: 1rem;
  color: #F7931E;
}

/* 最新消息detail */
#news-detail img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

#news-detail textarea {
  line-height: 1.5;
  color: #5C5C5C;
  letter-spacing: 2px;
  resize: none;
  outline: none;
  border: unset;
}

#news-detail .title-R {
  color: #998675;
  font-size: 18px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
}

#news-detail .date-R {
  color: #F7931E;
  font-size: 14px;
}

#contactInfo {
  background-image: url('/images/OnePage/bgi-02.jpg');
  position: relative;
  z-index: 0;
  background-attachment: fixed;
}

#contactInfo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #DDC09D;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .7;
}

#contactInfo img {
  width: 98%;
  margin-bottom: 1rem;
}

#contactInfo h6 {
  font-weight: normal;
}

#contactInfo span {
  margin-bottom: .5rem;
}

#contactInfo .Icon {
  width: 30px;
  height: 30px;
}

#contactInfo a {
  margin-right: 10px;
}

#map {
  background-image: url('/images/OnePage/bgi-02.jpg');
  background-attachment: fixed;
}

iframe {
  width: 100%;
  height: 350px;
  max-height: 350px;
}

#map .form-control {
  border-radius: 0;
  margin-bottom: 1rem;
}

#map textarea {
  resize: none;
}

footer {
  background: #4D4D4D;
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
}

.mmdIcon {
  width: 50px;
  margin-left: 10px;
}

.span-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  max-height: 100px
}

.link-bt {
  background-color: #3fa9f5;
  color: #FFFFEF;
  width: 100px;
  height: 40px;
  border-radius: 25px !important;
  line-height: 40px;
  text-decoration: none !important;
}

@media (max-width: 991.98px) {

  #aboutContent {
    padding-left: 15px;
    padding-right: 15px;
  }

  .aboutImg {
    width: 100%;
  }

  .bg-blue {
    padding: 25% 50px 0 50px;
  }
}

@media (max-width: 767.98px) {
  .aboutTitle {
    font-size: 40px;
  }

  .cloud-W01 {
    width: 90%;
  }

  .aboutText {
    max-width: 85%;
  }

  #about h2 {
    font-size: 32px;
  }

  #about h3 {
    font-size: 28px;
  }

  #about img {
    max-width: 250px;
  }

  .bg-blue {
    padding: 25% 15px 0 15px;
  }

  .aboutTitle,
  .aboutItems {
    margin-left: 20px;
  }

  .outsideCircle {
    width: 90%;
    height: 29%;
  }

  .circle {
    width: 95%;
    height: 40%;
  }

  .innerCircle {
    width: 90%;
    height: 37%;
  }

  .innerCircle:before {
    font-size: 42px;
    bottom: 10px;
  }

  #news-detail .border-right {
    border: 0 !important;
  }

}

@media (max-width: 575.98px) {

  #home .title {
    font-size: 38px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  h2 {
    font-size: 30px;
    margin-bottom: 1.5rem;
  }

  .h2 {
    font-size: 24px;
  }

  .h4 {
    font-size: 1.3rem;
  }

  .aboutItems {
    font-size: 16px;
  }

  .aboutTitle {
    letter-spacing: 2px;
    font-size: 30px;
  }

  .semicircle:before {
    font-size: 40px;
  }

  #service.container {
    padding-top: 110px;
  }

  #service hr {
    margin: 1rem 0;
  }

  .itemsH1 {
    font-size: 32px;
  }

  .aboutText {
    max-width: 100%;
  }

  .txtL,
  .txtR {
    margin-bottom: 30px;
  }

  footer {
    letter-spacing: 0;
  }

  .outsideCircle {
    width: 100%;
    height: 20.5%;
  }

  .circle {
    width: 110%;
    height: 33%;
  }

  .innerCircle {
    width: 100%;
    height: 30%;
    top: -12%
  }

  .innerCircle:before {
    font-size: 30px;
    bottom: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {

  .aboutText {
    max-width: 55%;
  }

  #contactInfo h3 {
    font-size: 1.45rem;
  }

  .aboutTitle {
    font-size: 38px;
  }

  .outsideCircle {
    width: 72%;
    height: 31%;
  }

  .circle {
    width: 75%;
    height: 42%;
  }

  .innerCircle {
    width: 60%;
    height: 38%;
  }

}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #home .title {
    font-size: 70px;
  }

  .h2 {
    font-size: 1.8rem;
  }

}

@media screen and (min-width: 1px) and (max-width: 1199.98px) {

  #news.container-fluid,
  #news-detail.container-fluid,
  #about.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container-fluid {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 100%;
  }

  .aboutBgi {
    background-attachment: scroll;
  }

  #contactInfo span {
    margin-bottom: 1rem;
  }

  #contactInfo:before {
    opacity: .6;
  }

  #about {
    background-attachment: scroll;
  }

  .catImg {
    position: relative;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-top: 30px;
  }

  #service ul {
    width: 90%;
  }

  .fa-bars {
    display: block !important;
  }

  footer .border-left {
    border: 0 !important;
  }

  /* 09/06add */

  #aboutContent {
    padding: 25px 0 0 0;
  }

  .aboutItems {
    font-size: 16px;
  }

  .itemsBox {
    padding: 15px;
    max-height: 450px;
    height: 100%;
  }

}

@media (min-width: 1200px) {
  .itemsSection>div {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}